.common-menu {
    display: flex;
    .menu-content {
        .ant-menu-horizontal {
            background: #333333 !important;
            border-bottom: 1px solid #333333;
            color: #ffffff;
        }

        .ant-menu-item {
            // color: #ffffff;
            // padding: 0 20px;
        }
    }
}